@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');
/* font-family: 'Koulen', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@300;400&display=swap');
/* font-family: 'Akshar', sans-serif; */
:root{
    --card-back: ;
    --whatsapp: ;
    --whatsapp-hover: ;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body
{
    box-sizing: border-box;
    height: 100vh;
    font-family: 'Akshar';
    width: 100%;
    color: white;
}

/* WEB LAYOUT */
/* WEB LAYOUT */
/* WEB LAYOUT */
.present{
   display: grid;
   grid-template-areas:"info present";
   grid-template-columns: 70% 1fr;
   grid-template-rows: max-height(100vh);
   max-height: 100vh;
   height: 100vh;
   padding: 10px;
}
.card_avatar
{
    border-radius: 50%;
    object-fit: cover;
    height: 200px;
    width: 200px;
    border: yellow 1px solid;
    display: block;
    margin: 0 auto;
    animation: avatarAni 2s;
}

.name
{
    font-size: 2rem;
    font-family: 'Akshar', sans-serif;
    font-weight: 400;
    line-height: -8px;
    margin-bottom: -10px;
    text-align: center;

}
.sub_name{
    font-size: .9rem;
    line-height: -8px;
    text-align: center;
    color: gray;
}


/* SCROLL SCROLL SCROLL */
/* SCROLL SCROLL SCROLL */
/* SCROLL SCROLL SCROLL */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}
/* ----------------------- */
/* ----------------------- */
/* ----------------------- */

.profe{
    font-family: 'Koulen', cursive;
    font-size: 4em;
    line-height: .8em;
    user-select: none;
}

svg {
    max-height: 50px;
}

.section_informacion
{
    scroll-snap-type: y mandatory;
    overflow-y: scroll;

}
.section_proyectos{
    height: 100vh;
}

.section_proyectos-web{
    display: block;
}

.style_card{
    background-color: rgb(0, 44, 94);
    padding: 10px;
}

.section_proyectos-mobile{
    display: none;
} 
.section_informacion
{
    grid-area: info;

}
.section_proyectos
{
    grid-area: proyecto;
}
.section_presentacion
{
    grid-area: present;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}


/* CONTACTO STYLES */
/* CONTACTO STYLES */
/* CONTACTO STYLES */
.caja_socials
{
    margin-top: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 4px;
}
.contacto_wp{
    width: 100%;
    display: flex;
    /* overflow: hidden; */
    /* justify-content: center; */
}
.contacto_wp 
{
    background-color: greenyellow;
    width: 100%;
    border-radius: 4px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    gap: 4px;
    padding: 5px;
    user-select: none;
}
.contacto_wp:hover {
    background-color: rgb(128, 190, 35);
    cursor: pointer;
}
.contacto_wp:active {
    background-color: greenyellow;
    transform: scale(1.005);
}
/*

 */
 .contacto_wp  > p {
    font-weight: bold;
    color: rgb(0, 44, 94);
}
 .contacto_wp  > svg {
    height: 24px;
    fill: rgb(0, 44, 94);
}

/* .copy_wp > svg {
} */


.social_icons
{
    width: 100%;
    display: flex;
    flex-flow: nowrap row;
    justify-content: space-between;
}
.social_icons > svg {
    fill: white;
}




.section_informacion >div{ 
    height: 100%;
    scroll-snap-align: start;
}


@media (max-width: 780px) {
    body{
        overflow: hidden;
    }
    .present{
        display: grid;
        grid-template-areas:    "present"
                                "info"
                                "proyecto";
        grid-template-columns: 1fr;
        grid-template-rows: 100vh 100vh 100vh;
        padding: 0 10px;
        overflow-y: scroll;
        scroll-snap-type: y mandatory;


    }
    
    .section_informacion
    {
        scroll-snap-type: none;
    }
    .section_proyectos-mobile{
        display: block;
    }
    .section_proyectos-web{
        display: none;
        width: 0;
        height: 0;
    }  
    .section_informacion{
        overflow: hidden;
    }
    .section_informacion>div{ 
        height: 100%;
        scroll-snap-align: none;
        overflow: hidden;
    }
    .present > section {
        scroll-snap-align: start;
    }
  


}

@media (max-width: 360px){
    p{
        font-size: 14px;
    }
}