@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');
/* font-family: 'Koulen', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@300;400&display=swap');
/* font-family: 'Akshar', sans-serif; */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body
{
    height: 100vh;
    color: white;
    font-family: 'Akshar';
    animation: avatarAni 2s;
    overflow: auto;
}

.card{
    background-color: rgb(1, 0, 25);
    padding: 30px;
    display: block;
}
p{

}
#root
{
    padding: 10px;
    height: 100%;
}
.present
{
    display: grid;
    grid-template-areas:"doble resumen";
    grid-template-rows:1fr ;
    grid-template-columns: 70% 30%;
    gap: 8px;
    height: 100%;
    width: 100%;

}
.card_1
{
    grid-area: doble;
    display: flex;
    flex-flow: nowrap column;
    overflow-y: scroll;
    scroll-behavior: smooth;
    gap: 4px;
}
.card_1 > div {
    min-height: 100%;
}
.card_2
{
    grid-area: resumen;
}
.card_3{
    display: none;
}
.card_avatar
{
    border-radius: 50%;
    object-fit: cover;
    height: 200px;
    border: yellow 1px solid;
    display: block;
    margin: 0 auto;
    animation: avatarAni 2s;
}
@keyframes avatarAni {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.name
{
    font-size: 2rem;
    font-family: 'Akshar', sans-serif;
    font-weight: 400;
    line-height: -8px;
    margin-bottom: -10px;
    text-align: center;

}
.sub_name{
    font-size: .9rem;
    line-height: -8px;
    text-align: center;
    color: gray;

}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: rgb(1, 0, 25);
}
::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}
.profe{
    font-family: 'Koulen', cursive;
    font-size: 4em;
    line-height: .8em;
    user-select: none;
}
svg {
    max-height: 50px;
}
.card_3_flex{
    display: block;
}
.card_3_grid{    
    display: none;

}
@media (max-width: 780px) {
    .card_3_flex{
        display: none;
    }
    .card_3_grid{
        display: block;

        grid-area: proyects;
    }
    .present
    {
    display: grid;
    grid-template-areas:"resumen"
                        "doble"
                        "proyects";
    grid-template-rows: 98vh auto  ;
    grid-template-columns: 100%;
    gap: 4px;
    }
    .card_1
    {
        grid-area: doble;
        display: flex;
        flex-flow: nowrap column;
        overflow-y: unset;
    }
}